.navigation {
    background-color: #2b2b2b;
    height: 70px;
    vertical-align: middle;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70px;
}

ul {
    display: inline-flex;
}

li {
    list-style: none;
    
}
.link {
    color: white;
}