.navigation {
  background-color: #2b2b2b;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.navigation__list-item {
  list-style: none;
}

.navigation__link {
  color: white;
}
